apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: kibana
  namespace: elastic-system  # 建议与 Elasticsearch 和 Operator 位于同一命名空间
spec:
  version: "8.11.0"         # 选择与你的 Elasticsearch (8.11.0) 和 ECK Operator (2.10.0) 兼容的版本
  count: 1                   # 单个 Kibana 实例，足以满足开发/测试需求
  elasticsearchRef:
    name: elasticsearch         # 引用你要连接的 Elasticsearch 集群的名称
  http:
    service:
      spec:
      # type: ClusterIP    # 默认类型，仅在集群内部可访问
      # 如需从外部访问，可选择 NodePort 或 LoadBalancer，但会增加资源消耗
      # type: LoadBalancer
    tls:
      selfSignedCertificate:
        disabled: false      # 与你的 ES HTTP TLS 配置保持一致（示例中为 false）
  config: # 添加 config 部分来配置 Kibana
    i18n.locale: "zh-CN"  # 设置默认语言为简体中文
  podTemplate:
    spec:
      containers:
        - name: kibana
          resources:
            requests:
              memory: 1Gi   # Kibana 内存请求
              cpu: 500m       # Kibana CPU 请求
            limits:
              memory: 1Gi     # Kibana 内存限制
              cpu: 1000m       # Kibana CPU 限制