go 1.23

use (
	./blog-gin
	./blog-gozero
	./kit
	./tools
)

// go work init
// go work sync

//replace github.com/ve-weiyi/ve-blog-golang/kit => ./kit

//replace github.com/ve-weiyi/ve-blog-golang/kit => github.com/ve-weiyi/ve-blog-golang/kit v0.0.0-20241211070624-fa7d454418a0
