go 1.24.0

use (
	blog-gin
	blog-gozero
	pkg
	stompws
	tools
)

// 初始化工作区
// go work init

// 同步工作区中的模块依赖
// go work sync

// 更新所有依赖库
// go get -u all

// 替换本地仓库
// replace github.com/ve-weiyi/ve-blog-golang/pkg => ./pkg
