
volumes:
  rancher:

services:
  rancher:
    image: rancher/rancher:stable
    privileged: true
    restart: always
    container_name: rancher
    volumes:
      - rancher:/var/lib/rancher
    ports:
      - 9080:80
      - 9443:443
    environment:
      - TZ=Asia/Shanghai
      - CATTLE_BOOTSTRAP_PASSWORD=admin123456
      # rancher和集群都是使用docker部署在本地的，所以这里使用host.docker.internal让rancher访问宿主机的docker
      - CATTLE_SERVER_URL=https://host.docker.internal:9443
