# system configuration
system:
  port: 8080
  env: dev
  version: v1.0.0
  runtime-path: ./runtime

# jwt token configuration
jwt:
  secret: your-secret-key
  expires-time: 7d

# zap logger configuration
zap:
  level: info
  mode: console|file
  file_name: ./runtime/logs/blog.log
  max_size: 100
  max_backups: 3
  max_age: 30
  compress: true

# mysql connect configuration
mysql:
  host: localhost
  port: "3306"
  username: root
  password: 123456
  dbname: blog
  config: charset=utf8mb4&parseTime=True&loc=Local

# redis configuration
redis:
  host: localhost
  port: "6379"
  password: ""
  db: 0

# rabbitmq configuration
rabbitmq:
  host: localhost
  port: "5672"
  username: guest
  password: guest