# system configuration
system:
  port: 8080
  env: dev
  version: v1.0.0
  runtime-path: ./runtime

# jwt token configuration
jwt:
  secret: your-secret-key
  expires-time: 7d

# zap logger configuration
zap:
  service-name: ve-blog-gin
  mode: console
  encoding: json
  time-format: 2006-01-02T15:04:05.000Z07:00
  path: logs
  level: info
  keep-days: 7

# mysql connect configuration
mysql:
  host: localhost
  port: "3306"
  username: root
  password: 123456
  dbname: blog
  config: charset=utf8mb4&parseTime=True&loc=Local

# redis configuration
redis:
  host: localhost
  port: "6379"
  password: ""
  db: 0

# rabbitmq configuration
rabbitmq:
  host: localhost
  port: "5672"
  username: guest
  password: guest